---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Daphne Styles" description="About Daphne Styles">
	<div class="stack gap-20">
		<main class="wrapper about grid grid-cols-2">
			
			<div class="stack gap-2 box heading">
				<img
						width="350"
						height="400"
						src="/assets/DaphneDog.jpg"
						alt="Daphne Dog"
					/>
				
					<h2 class="title text-zinc-800 text-center">About Me</h2>
			</div>
			
			<section>
				<h2 class="section-title">Background and Experience</h2>
				<div class="content">
					<p>
						Born and raised near San Francisco, I’ve always felt very passionate about fashion. Some of my earliest memories involve shopping trips to Saks Fifth Avenue with my grandfather and styling my sisters and friends in addition to myself. This love of fashion and personal expression started at a young age and has never stopped growing.
						<br><br>
						After earning my Bachelor of Arts from the University of the Pacific, I continued with my education and pursued my fashion design dreams at the Fashion Institute of Design & Merchandising (FIDM), where I earned an associate degree. During my time at FIDM, and while on breaks from UOP, I worked at Nordstrom and various boutiques, gaining valuable experience in the industry.
						<br><br>
						In 1995, I joined Chaiken & Capone (later known as Chaiken), where I spent over a decade refining my craft. At Chaiken, I worked across multiple roles—from stylist to customer service, sales, and shipping—providing me with an in-depth understanding of the fashion industry. My time there also allowed me to work on high-end magazine spreads, television shows, and major films, while traveling frequently to Los Angeles and New York.
						<br><br>
						After taking time off to focus on my family and raising my newborn son, I founded *Daphne Styles* in April of 2015, combining my love for fashion with my desire to help others. I approach each project with a “can do” attitude, positive energy, and a sense of humor. 
						<br><br>
						My clients range from busy professionals—doctors, executives, and entrepreneurs—to stay-at-home parents, teens, and individuals in transition. I’ve witnessed firsthand how the right wardrobe can transform both self-image and confidence, and it’s a privilege to be part of that journey. Your wardrobe is more than just clothing—it's an expression of who you are and, often, who you want to become. With years of fashion experience, I specialize in helping you discover what silhouettes and styles work best for your unique body and lifestyle, creating a wardrobe that's both authentic and empowering. 
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Why Choose Daphne Styles?</h2>
				<div class="content">
					<p>
						Why choose me over other stylists? I understand that style, body shape, and individual taste are deeply personal, which is why I approach each client with a high degree of sensitivity and respect. Over the years, I've worked with people through different stages of their lives, each with their own needs and preferences. My clients often tell me they appreciate my non-judgmental, thoughtful, and kind approach—qualities I believe are just as important as my fashion expertise. Style is an immediate language; it speaks volumes before you say a word. Let me help you discover yours. I’ll show you how to maximize the potential of your existing wardrobe while giving you the fresh perspective you need to feel rejuvenated.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.heading {
		margin-top: 1rem;
		object-fit: cover;
		object-position: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	img {
		margin-top: 1.5rem;
		/* border-radius: 1.5rem; */
		box-shadow: var(--shadow-md);
		aspect-ratio: 60 / 100;
		object-fit: cover;
		object-position: center;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration- var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-: current;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
