---
import BaseLayout from '../layouts/BaseLayout.astro';


import { Image } from 'astro:assets';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Contact | Daphne Styles | San Francisco Bay Area Stylist" description="Contact Daphne Styles">
	<div class="stack gap-10">
		
		<main class="flex md:grid grid-cols-2">
			

			
			<div class="p-4 mx-auto my-auto max-w-screen-md">
				<h2 class="text-zinc-800 text-center">Contact Me</h2>
				<br>
				<h2 class="text-center text-xl md:text-4xl">
					Voice and Text:<br> <a href="tel:4152180457" class="text-blue-700 hover:text-blue-400">(415) 218-0457</a> 
					<br><br>
					Email:<br> <a href="mailto:hookerdaphne@gmail.com" class="text-blue-700 hover:text-blue-400">hookerdaphne@gmail.com</a>
				</h2>
			</div>
			<div class="flex justify-center items-center gap-4 p-4">
				<Image loading="eager"
						width="500"
						height="500"
						src="/assets/DaphneTree.jpg"
						alt="Jeanine White at work with a colleague"
					/>
	
			</div>
			
			<!--
			<section class="">
				<div class="py-4 lg:py-4 px-4 mx-auto max-w-screen-md">
					<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Contact Us</h2>
					<p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Got a technical issue? Want to send feedback about a beta feature? Need details about our Business plan? Let us know.</p>

					<form action="#" class="space-y-8">
						<div>
							<label for="email" class="block mb-2 text-lg">Your email</label>
							<input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" placeholder="name@email.com" required>
						</div>
						<div>
							<label for="subject" class="block mb-2 text-lg">Subject</label>
							<input type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 " placeholder="Let us know how we can help you" required>
						</div>
						<div class="sm:col-span-2">
							<label for="message" class="block mb-2 text-lg">Your message</label>
							<textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 " placeholder="Leave a comment..."></textarea>
						</div>
						<button type="submit" class="py-3 px-5 text-sm text-center border-black bg-zinc-400 sm:w-fit hover:bg-zinc-300 focus:ring-4 focus:outline-none focus:ring-primary-300">Send message</button>
					</form>
				</div>
			</section>
		-->

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>

</style>
