---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import Slide from '../components/Slide.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
// import Image from 'next/image';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

// Content Fetching: List four most recent work projects
// const projects = (await getCollection('work'))
// 	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
// 	.slice(0, 4);

const gallery: { alt: string; src: string }[] = [
	{ alt: 'Personal Shopping', src: '/services' },
];



// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
	<div class=" gap-10 lg:gap-10">
		<div class="  gap-8 lg:gap-20">
			<header class="hero">
				

				<Image class="imCover" loading="eager" 
				
					alt="Daphne with dog."
					width="480"
					height="480"
					src="/assets/bio page 10.jpg"
					/>
				
				<!-- <img class="imCover"
					alt="Daphne with dog."
						width="480"
						height="480"
						src="/assets/bio page 10.jpg"
					/> -->
				<Hero
					title="Hi!"
					align="start"
				>
				</Hero>
			</header>
		</div>

		<div class="gallery">
			<Grid variant="small">

		</div>

		<section class=" grid bg-gradient-to-l from-white to-zinc-100 gap-4 p-4 md:grid-cols-2">
			<div>
				<h2>How It Works:</h2>
				<p class="md:text-xl p-2">
					Please take a moment to review my list of services and we’ll schedule a free consultation to discuss your needs and get the process started! 
					I'll email you a brief questionnaire to gather information about your goals, clothing preferences and a little bit about yourself. 
					<br>
					My mission as your stylist is to enhance your confidence by identifying your personal style and curating a wardrobe that reflects it—whether that means working with your existing pieces, 
					incorporating new items, or creating an entirely new wardrobe. I charge by the hour, and I’ll provide my hourly rate when you reach out. 
					I can tailor and combine all of my services to ensure that your needs are fully met. If you have more questions feel free to reach out by voice, text or email. 
					<br>
					<p class="p-3 text-xl text-center">
						Take charge of your look and call or text<br> <a href="tel:4152180457" class="text-blue-700 hover:text-blue-400">(415) 218-0457</a> 
						<br>
						Email: <br> <a href="mailto:hookerdaphne@gmail.com" class="text-blue-700 hover:text-blue-400">hookerdaphne@gmail.com</a>
					</p>
				</p>
				<CallToAction href="mailto:hookerdaphne@gmail.com">
					Send Me a Message!
					<Icon icon="paper-plane-tilt" size="1.2em" />
				</CallToAction>
			</div>
			<div class=" grid md:grid-cols-2 px-4 gap-2 text-3xl">
				
				<a href="/services/#personal_shopping" class="border-zinc-400 border-2 bg-gradient-to-r from-zinc-400 to-zinc-400 hover:from-zinc-400 text-center content-center">
					Personal Shopping</a>
				<a href="/services/#Closet_Clean_Out" class="border-zinc-400 border-2 bg-gradient-to-l from-zinc-400 to-zinc-400 hover:from-zinc-400 text-center content-center">
					Closet Clean Out</a>
				<a href="/services/#Online_Shopping" class="border-zinc-400 border-2 bg-gradient-to-r from-zinc-400 to-zinc-400 hover:from-zinc-400 text-center content-center">
					Online Shopping</a>
				<a href="/services/#Online_Dating" class="border-zinc-400 border-2 bg-gradient-to-l from-zinc-400 to-zinc-400 hover:from-zinc-400 text-center content-center">
					Online Dating</a>
				<a href="/services/#Photo_Shoot" class="border-zinc-400 border-2 bg-gradient-to-r from-zinc-400 to-zinc-400 hover:from-zinc-400 text-center content-center">
					Photo Shoot Styling</a>
				<a href="/services/#Teens_Kids" class="border-zinc-400 border-2 bg-gradient-to-l from-zinc-400 to-zinc-400 hover:from-zinc-400 text-center content-center">
					Teens & Kids</a>
				<a href="/services/#Gifts" class="border-zinc-400 border-2 bg-gradient-to-r from-zinc-400 to-zinc-400 hover:from-zinc-400 text-center content-center">
					Gift & Holiday Shopping</a>
				<a href="/services/#A_La_Carte" class="border-zinc-400 border-2 bg-gradient-to-l from-zinc-400 to-zinc-400 hover:from-zinc-400 text-center content-center">
					A La Carte</a>
			</div>


		</section>
 

		<!-- <section class="bg-gradient-to-l from-zinc-100 to-gray-100">

				<div class="shadow-sm grid md:grid-cols-3">
					<figure class="flex flex-col items-center justify-center p-8 text-center rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e">
						<blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
							<h3 class="text-lg font-semibold text-gray-900 ">Very easy this was to integrate</h3>
							<p class="my-4">If you care for your time, I hands down would go with this."</p>
						</blockquote>
						<figcaption class="flex items-center justify-center ">
							<img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="profile picture">
							<div class="space-y-0.5 font-medium  text-left rtl:text-right ms-3">
								<div>Bonnie Green</div>
								<div class="text-sm text-gray-500 ">Developer at Open AI</div>
							</div>
						</figcaption>    
					</figure>
					<figure class="flex flex-col items-center justify-center p-8 text-center md:rounded-se-lg">
						<blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
							<h3 class="text-lg font-semibold text-gray-900 ">Solid foundation for any project</h3>
							<p class="my-4">Designing with Figma components that can be easily translated to the utility classes of Tailwind CSS is a huge timesaver!"</p>
						</blockquote>
						<figcaption class="flex items-center justify-center ">
							<img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png" alt="profile picture">
							<div class="space-y-0.5 font-medium  text-left rtl:text-right ms-3">
								<div>Roberta Casas</div>
								<div class="text-sm text-gray-500 ">Lead designer at Dropbox</div>
							</div>
						</figcaption>    
					</figure>
					<figure class="flex flex-col items-center justify-center p-8 text-center md:rounded-es-lg md:border-b-0 md:border-e">
						<blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
							<h3 class="text-lg font-semibold text-gray-900 ">Mindblowing workflow</h3>
							<p class="my-4">Aesthetically, the well designed components are beautiful and will undoubtedly level up your next application."</p>
						</blockquote>
						<figcaption class="flex items-center justify-center ">
							<img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="profile picture">
							<div class="space-y-0.5 font-medium  text-left rtl:text-right ms-3">
								<div>Jese Leos</div>
								<div class="text-sm text-gray-500 ">Software Engineer at Facebook</div>
							</div>
						</figcaption>    
					</figure>
					
				</div>


		</section>  -->

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>

	.intro {
		display: flexbox;
		flex-flow: column;
	}

	.box {
		border: 1px solid var(--gray-800);
		/* border-radius: 0.75rem; */
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.blurb {
		order: 2;
	}

	.imCover {
		/* aspect-ratio: 4 / 4; */
		margin: 1rem;
		object-fit: cover;
		object-position: center;
		box-shadow: var(--shadow-md);
		order: -2;
	}

	@media (min-width: 50em) {
		.hero {
			padding-top: 1rem;
			display: grid;
			grid-template-columns: 5fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 4 / 5;
			object-fit: cover;
			order: 2;
			/* border: 1px solid; */
		}
	}

	/* ====================================================== */


	.section {
		display: block;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: url('/assets/backgrounds/rackBW.jpg');

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: url('/assets/backgrounds/rackBW.jpg');
		
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-400);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		/* border-radius: 1.5rem; */
		color: var(--gray-400);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			/* border-radius: 1.5rem; */
			height: 9.5rem;
		}
	}
</style>
