---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import Slide from '../components/Slide.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
// import Image from 'next/image';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

// Content Fetching: List four most recent work projects
// const projects = (await getCollection('work'))
// 	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
// 	.slice(0, 4);

const gallery: { alt: string; src: string }[] = [
	{ alt: 'grid1', src: "/assets/home/zoe blazer.jpg" },
	{ alt: 'grid2', src: "/assets/home/scene 1.jpeg" },
	{ alt: 'grid3', src: "/assets/home/man shopping.jpeg" },
	{ alt: 'grid4', src: "/assets/home/iro blazer.jpg" },
	{ alt: 'grid5', src: "/assets/home/DaphneBag.jpg" },
	{ alt: 'grid6', src: "/assets/home/rack1.jpg" },
	{ alt: 'grid7', src: "/assets/home/stripe shirt2.jpg" },
	{ alt: 'grid8', src: "/assets/home/zoe garden.jpg" },
];



// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---
<script>
	
	import Alpine from 'alpinejs';
	import Typewriter from '@marcreichel/alpine-typewriter';

	Alpine.plugin(Typewriter);
</script>

<BaseLayout
	title="Daphne Styles | San Francisco Bay Area Stylist"
	description="San Francisco Bay Area based Stylist and Personal Shopper"
>
	<div class="transition-fade gap-10 lg:gap-10">
		<main class="">
		<div class="  gap-8 lg:gap-20 md:min-h-dvh">
			<header class="hero">
				
				
				<Image class="imCover" loading="eager" 
				
					alt="Daphne with dog."
					width="480"
					height="480"
					src="/assets/bio page 10.jpg"
					/>
				<Hero>
					<h1 class="text-4xl text-center text-zinc-800">Style That's</h2> 
					<h3 class="text-4xl text-center text-zinc-800" x-data="{ texts: ['Effortless', 'Timeless', 'Personalized'] }" x-typewriter.1s.cursor="texts"></h1>

					<p class="p-4 md:px-20">
						Whether you’re looking for a seasonal update, a closet cleanout, personal shopping, 
						fine-tuning your style, or just about anything fashion related, you’ve come to the right place! 
						<br><br>
						With my experience, expertise, and personal approach, I’m committed to helping you 
						feel confident in embracing your unique style. I work with all shapes, sizes, ages, budgets and pronouns in the San Francisco Bay Area.
						<br><br>
						Please review my list of services, and if you don’t see what you need, contact me and we can customize a package for you. 
						Having trouble getting your online dating profile and pictures just right? I can help with that too!
					</p>
				</Hero>
			</header>
		</div>

		<div class="gallery">
			<Grid variant="small">
				{
					gallery.map(({ alt, src }) => (

								<Image class="imageSpread"
									alt={alt}
									width="200"
									height="200"
									src={src}
								/>
							))
					}
			</Grid>

		</div>

		<section class=" grid bg-gradient-to-l from-white to-zinc-100 gap-4 p-4 md:grid-cols-2">
			<div>
				<h2>How It Works:</h2>
				<p class="text-md md:text-xl p-2">
					Please take a moment to review my list of services and we’ll schedule a free consultation to discuss your needs and get the process started! 
					I'll email you a brief questionnaire to gather information about your goals, clothing preferences and a little bit about yourself. 
					<br>
					My mission as your stylist is to enhance your confidence by identifying your personal style and curating a wardrobe that reflects it—whether that means working with your existing pieces, 
					incorporating new items, or creating an entirely new wardrobe. I charge by the hour, and I’ll provide my hourly rate when you reach out. 
					I can tailor and combine all of my services to ensure that your needs are fully met. If you have more questions feel free to reach out by voice, text or email. 
					<br>
					<p class="p-3 text-xl text-center">
						Take charge of your look and call or text<br> <a href="tel:4152180457" class="text-blue-700 hover:text-blue-400">(415) 218-0457</a> 
						<br>
						Email: <br> <a href="mailto:hookerdaphne@gmail.com" class="text-blue-700 hover:text-blue-400">hookerdaphne@gmail.com</a>
					</p>
				</p>
				<CallToAction href="mailto:hookerdaphne@gmail.com">
					Send Me a Message!
					<Icon icon="paper-plane-tilt" size="1.2em" />
				</CallToAction>
			</div>
			<div class=" grid md:grid-cols-2 px-4 gap-2 text-3xl">
				
				<a href="/services/#personal_shopping" class="border-zinc-400 border-2 bg-gradient-to-r from-zinc-400 to-zinc-400 hover:from-zinc-400 text-center content-center">
					Personal Shopping</a>
				<a href="/services/#Closet_Clean_Out" class="border-zinc-400 border-2 bg-gradient-to-l from-zinc-400 to-zinc-400 hover:from-zinc-400 text-center content-center">
					Closet Clean Out</a>
				<a href="/services/#Online_Shopping" class="border-zinc-400 border-2 bg-gradient-to-r from-zinc-400 to-zinc-400 hover:from-zinc-400 text-center content-center">
					Online Shopping</a>
				<a href="/services/#Online_Dating" class="border-zinc-400 border-2 bg-gradient-to-l from-zinc-400 to-zinc-400 hover:from-zinc-400 text-center content-center">
					Online Dating</a>
				<a href="/services/#Photo_Shoot" class="border-zinc-400 border-2 bg-gradient-to-r from-zinc-400 to-zinc-400 hover:from-zinc-400 text-center content-center">
					Photo Shoot Styling</a>
				<a href="/services/#Teens_Kids" class="border-zinc-400 border-2 bg-gradient-to-l from-zinc-400 to-zinc-400 hover:from-zinc-400 text-center content-center">
					Teens & Kids</a>
				<a href="/services/#Gifts" class="border-zinc-400 border-2 bg-gradient-to-r from-zinc-400 to-zinc-400 hover:from-zinc-400 text-center content-center">
					Gift & Holiday Shopping</a>
				<a href="/services/#A_La_Carte" class="border-zinc-400 border-2 bg-gradient-to-l from-zinc-400 to-zinc-400 hover:from-zinc-400 text-center content-center">
					A La Carte</a>
			</div>


		</section>
 
		<div class="min-w-screen min-h-60 flex items-center justify-center py-5">
			<div class="w-full px-5 py-8 md:py-10 text-zinc-800">
				<div class="w-full max-w-7xl mx-auto">
					<div class="-mx-3 md:flex items-start">
						<div class="px-3 md:w-1/3">
							<div class="w-full mx-auto rounded-lg bg-zinc-200 drop-shadow-xl p-5 text-zinc-800 font-light mb-6">
								<div class="w-full flex mb-4 items-center">
									<div class="flex-grow pl-3">
										<h6 class="font-bold text-base uppercase text-zinc-600">Sheri </h6>
									</div>
								</div>
								<div class="w-full">
									<p class="text-base leading-tight"><span class="text-base leading-none italic font-bold text-zinc-400 mr-1">"</span>After becoming a new mom and being new to the area I was in need of a stylist and wardrobe update. I felt that she took the time to get to know me and understand my needs. Shopping was overwhelming for me and Daphne was able to make it an enjoyable experience. After a few trips to Nordstroms and Neiman Marcus she created outfits with my new and existing clothes. Having pictures of all the new looks was very helpful! She did all this for my husband as well. Definitely recommend. <span class="text-base leading-none italic font-bold text-zinc-400 ml-1">"</span></p>
								</div>
							</div>
						</div>
						<div class="px-3 md:w-1/3">
							<div class="w-full mx-auto rounded-lg bg-zinc-200 drop-shadow-xl p-5 text-zinc-800 font-light mb-6">
								<div class="w-full flex mb-4 items-center">
									<div class="flex-grow pl-3">
										<h6 class="font-bold text-base uppercase text-zinc-600">Regan</h6>
									</div>
								</div>
								<div class="w-full">
									<p class="text-base leading-tight"><span class="text-base leading-none italic font-bold text-zinc-400 mr-1">"</span>Being a busy Mom I had neglected my wardrobe for a few years… I had Daphne come in and we sorted through my entire closet! I got rid of a lot - both donating and selling online which felt great. There were items that I wanted to wear but had trouble putting together in an outfit so they had been sitting there in my closet unworn for a long time, some with tags still on them - we spent extra time with those pieces and created outfits that worked. She recommended what I needed to buy to help fill in all the ‘gaps’ and pull it all together. I hate the idea of spending so much time sorting through all the retail sites online so I had Daphne find all the missing pieces. She was not pushy and kind which I appreciated. <span class="text-base leading-none italic font-bold text-zinc-400 ml-1">"</span></p>
								</div>
							</div>
						</div>
						<div class="px-3 md:w-1/3">
							<div class="w-full mx-auto rounded-lg bg-zinc-200 drop-shadow-xl p-5 text-zinc-800 font-light mb-6">
								<div class="w-full flex mb-4 items-center">
									<div class="flex-grow pl-3">
										<h6 class="font-bold text-base uppercase text-zinc-600">Brian </h6>
									</div>
								</div>
								<div class="w-full">
									<p class="text-base leading-tight"><span class="text-base leading-none italic font-bold text-zinc-400 mr-1">"</span>I can't thank Daphne enough for the incredible experience I had working with her. My closet was a mess, and I was stuck in a style rut. Daphne not only organized my wardrobe, but she also helped me understand what pieces I truly needed and what I could do without. It was like a weight was lifted off my shoulders—my closet is now functional, organized, and filled with clothes I actually love to wear.
										<br>
										We then headed to Bloomingdale’s, where she expertly guided me through finding key items that fit my lifestyle and personal style. Daphne knows fashion inside and out and has an amazing eye for what works—she picked out pieces I would never have considered but ended up loving. She made shopping feel effortless, and I felt more confident than ever in my choices.
										<br>
										The best part is that Daphne’s approach is so personalized and non-judgmental. She really listened to what I wanted and helped me elevate my style without pushing me out of my comfort zone. I now feel more put-together and excited about getting dressed every day. Highly recommend her to anyone looking to refresh their wardrobe and simplify their style!<span class="text-base leading-none italic font-bold text-zinc-400 ml-1">"</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.imageSpread {
		aspect-ratio: 2 / 3;
		object-fit: cover;
		/* border-radius: 1.5rem; */
		box-shadow: var(--shadow-md);
		/* left: 100%; */

		/* animation: 2s scrolling infinite linear;  */
		/* animation-delay: calc((10s/var(--quantity)) * var(--position) - 1); */
	}

	.intro {
		display: flexbox;
		flex-flow: column;
	}

	.box {
		border: 1px solid var(--gray-800);
		/* border-radius: 0.75rem; */
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.blurb {
		order: 2;
	}

	.imCover {
		/* aspect-ratio: 4 / 4; */
		margin: 1rem;
		object-fit: cover;
		object-position: center;
		box-shadow: var(--shadow-md);
		order: -2;
	}

	@media (min-width: 50em) {
		.hero {
			padding-top: 1rem;
			display: grid;
			grid-template-columns: 5fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 4 / 5;
			object-fit: cover;
			order: 2;
			/* border: 1px solid; */
		}
	}

	/* ====================================================== */


	.section {
		display: block;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: url('/assets/backgrounds/rackBW.jpg');

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: url('/assets/backgrounds/rackBW.jpg');
		
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-400);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		/* border-radius: 1.5rem; */
		color: var(--gray-400);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			/* border-radius: 1.5rem; */
			height: 9.5rem;
		}
	}
</style>
