---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import Slide from '../components/Slide.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
// import Image from 'next/image';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

// Content Fetching: List four most recent work projects
// const projects = (await getCollection('work'))
// 	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
// 	.slice(0, 4);

const gallery: { alt: string; src: string }[] = [
	{ alt: 'Personal Shopping', src: '/services' },
];



// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
	<div class="stack gap-10 lg:gap-10">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Hi!"
					align="start"
				>
					<!-- <div class="roles">
						<Pill><Icon icon="code" size="1.33em" /> Developer</Pill>
						<Pill><Icon icon="microphone-stage" size="1.33em" /> Speaker</Pill>
						<Pill><Icon icon="pencil-line" size="1.33em" /> Writer</Pill>
					</div> -->
				</Hero>

				<img class=""
				alt="Daphne with dog."
					width="480"
					height="480"
					src="/assets/bio page 10.jpg"
				/>
			</header>

			<!-- <Skills /> -->
		</div>
		<div class="gallery">
			<Grid variant="small">

		</div>


		<section class="section  box">

				<div class="border border-gray-800 shadow-sm">
					<figure class="flex flex-col items-center justify-center p-8 text-center  border-b border-gray-400 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
						<blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
							<h3 class="text-lg font-semibold text-gray-900 dark:text-white">Very easy this was to integrate</h3>
							<p class="my-4">If you care for your time, I hands down would go with this."</p>
						</blockquote>
						<figcaption class="flex items-center justify-center ">
							<img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="profile picture">
							<div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
								<div>Bonnie Green</div>
								<div class="text-sm text-gray-500 dark:text-gray-400 ">Developer at Open AI</div>
							</div>
						</figcaption>    
					</figure>
					<figure class="flex flex-col items-center justify-center p-8 text-center  border-b border-gray-400 md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700">
						<blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
							<h3 class="text-lg font-semibold text-gray-900 dark:text-white">Solid foundation for any project</h3>
							<p class="my-4">Designing with Figma components that can be easily translated to the utility classes of Tailwind CSS is a huge timesaver!"</p>
						</blockquote>
						<figcaption class="flex items-center justify-center ">
							<img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png" alt="profile picture">
							<div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
								<div>Roberta Casas</div>
								<div class="text-sm text-gray-500 dark:text-gray-400">Lead designer at Dropbox</div>
							</div>
						</figcaption>    
					</figure>
					<figure class="flex flex-col items-center justify-center p-8 text-center  border-b border-gray-400 md:rounded-es-lg md:border-b-0 md:border-e dark:bg-gray-800 dark:border-gray-700">
						<blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
							<h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mindblowing workflow</h3>
							<p class="my-4">Aesthetically, the well designed components are beautiful and will undoubtedly level up your next application."</p>
						</blockquote>
						<figcaption class="flex items-center justify-center ">
							<img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="profile picture">
							<div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
								<div>Jese Leos</div>
								<div class="text-sm text-gray-500 dark:text-gray-400">Software Engineer at Facebook</div>
							</div>
						</figcaption>    
					</figure>
					
				</div>


		</section> 

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.box {
		border: 1px solid var(--gray-800);
		/* border-radius: 0.75rem; */
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		/* aspect-ratio: 4 / 4; */
		object-fit: cover;
		object-position: top;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			padding-top: 1rem;
			display: grid;
			grid-template-columns: 5fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 4 / 5;
			object-fit: cover;
			/* border: 1px solid; */
		}
	}

	/* ====================================================== */


	.section {
		display: block;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: url('/assets/backgrounds/rackBW.jpg');

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: url('/assets/backgrounds/rackBW.jpg');
		
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-400);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		/* border-radius: 1.5rem; */
		color: var(--gray-400);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			/* border-radius: 1.5rem; */
			height: 9.5rem;
		}
	}
</style>
