---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';


---

<BaseLayout
	title="My Work | Jeanine White"
	description="Learn about Jeanine White's most recent projects"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-2">

			<div id="Personal_shopping" class="flex w-full gap-4 section md:min-h-dvh">
				<div class="grid h-20 flex-grow desc">
				<h3>Personal Shopping</h3>
				<p> To begin our personal shopping experience, we’ll start with the Daphne Styles Questionnaire. 
					This allows me to understand your lifestyle, identify your clothing preferences, 
					and establish your goals and budget for our session. We’ll discuss over the phone 
					which stores to shop at, and I’ll visit those locations in advance to select clothing 
					tailored for you. When you arrive, we’ll go through the items I’ve selected, making edits 
					and adding more pieces as needed. Together, we’ll create stylish outfits and capture photos 
					for future reference. We’ll organize these images into a convenient album on your phone, 
					ensuring everything is easy to find and access later. If you’d like to maximize your purchases, 
					I can meet you at home to create outfits that seamlessly 
					mix your new pieces with your existing wardrobe.</p>
				</div>
				<Image class="im"
				
					alt="Personal Shopping"
					width="360"
					height="360"
					src="/assets/services/bio_rack 6.jpg"
					/>

			</div>

			<div id="Closet_Clean_Out" class="flex w-full gap-4 section md:min-h-dvh">
				<Image class="im"
				
					alt="closet clean out"
					width="360"
					height="480"
					src="/assets/services/closet clean out pic.jpeg"
					/>
				<div class="grid h-20 flex-grow desc">
					<h3>Closet Clean Out </h3>
					<p>As with all services we first review the Daphne Styles Questionnaire. 
						This helps me understand your lifestyle, identify your clothing preferences, 
						and establish your goals and budget for our session. Next, 
						we’ll schedule a time to meet at your home, where we’ll review your entire closet together. 
						We’ll decide which items to keep, donate, or consign.Throughout the process, 
						I’ll take photos of the outfits we create, and we’ll compile an album on your 
						phone for easy access. This way, you can quickly reference the outfits, 
						making getting dressed stress-free. 
						I can also recommend certain fashion apps to help you stay organized.
						<br/><br/>
						I’ll create a shopping list of essential and statement pieces that can 
						enhance your current wardrobe. If any items need tailoring, 
						we’ll address that as well. If you’d like, I can assist with reorganizing your closet, 
						and I’m happy to handle donations or consignment for you. 
						We can either shop together for the new pieces you need in person or 
						I can do online shopping for you. 
						If you feel confident in finding those items yourself, we can wrap up the session there.
					</p>
				</div>
			</div>
			
			<div id="Online_Shopping" class="flex w-full gap-4 section md:min-h-dvh">
				<div class="grid h-20 flex-grow desc">
				<h3>Online Shopping</h3>
				<p>
					To begin our personal shopping experience, 
					we’ll start by reviewing the Daphne Styles Questionnaire. 
					This helps me understand your lifestyle, identify your clothing preferences, 
					and establish your goals and budget for our session. Based on this information, 
					we’ll determine how much time you’d like me to dedicate to online shopping. 
					I can email you links to various options or select one or two items per category, 
					depending on how specific your requests are. Some clients prefer to place their 
					own orders, while others ask me to handle it for them—whichever you prefer.
					<br/><br/>
					To maximize this process, I recommend scheduling an appointment at your home once you receive the selected items. 
					During this session, we’ll create outfits with your new clothes, taking photos to catalog them on your phone for easy reference. 
					As with all my services, I charge by the hour.

				</p>
				</div>
				<Image class="im"
				
					alt="Personal Shopping"
					width="360"
					height="360"
					src="/assets/services/bio_rack 4.jpg"
					/>

			</div>

			<div id="Online_Dating" class="flex w-full gap-4 section md:min-h-dvh">
				<Image class="im"
				
					alt="Personal Shopping"
					width="360"
					height="360"
					src="/assets/services/dating.jpg"
					/>
				<div class="grid h-20 flex-grow desc">
				<h3>Online Dating Profile Assistance</h3>
				<p>As a personal shopper, I can assist you in crafting an eye-catching profile for your online dating journey. 
					Together, we’ll choose the perfect outfits that reflect your personality and style, ensuring you look your best in your photos. 
					I’ll guide you on posing and expressions to help capture your authentic self. Additionally, I can help you write a compelling profile that highlights your interests, 
					values, and what you’re looking for in a partner, 
					making sure it resonates with potential matches. With my support, you’ll feel confident and ready to make a great impression!</p>
				</div>

			</div>

			<div id="Photo_Shoot" class="flex w-full gap-4 section md:min-h-dvh">
				<div class="grid h-20 flex-grow desc">
				<h3>Photo Shoot Styling</h3>
				<p>I can assist with both personal and fashion photo shoots for occasions such as family portraits, holiday cards, and professional settings like magazines and clothing catalogs.. 	Whether it’s styling for a personal shoot or a high-fashion editorial, I’ll ensure that every outfit aligns with the theme and desired aesthetic.
					<br><br>
					Personal photo shoots can be stressful, but I’m here to simplify the process by helping you choose outfits that are perfectly suited for any occasion. I understand that deciding what to wear and what accessories to bring can often feel overwhelming. My goal is to ensure you feel your best because when you feel great, you look great, and your confidence shines through in your photos. Together, we’ll create a cohesive look that enhances your features and reflects your unique style, making your photo shoot a fun and enjoyable experience!
					<br><br>
					Hiring me for fashion photo shoots comes with numerous benefits. I’ll bring a wealth of experience and a keen eye for detail, ensuring that your vision comes to life. With my knowledge from working in the fashion industry for 25 years, I understand all the intricacies of photo shoots and how crucial it is to be organized. From choosing the right pieces to coordinating accessories and styling, I handle all aspects of the look to guarantee a professional finish. This allows you to focus on what you do best, whether it’s taking the pictures, posing for the camera or showcasing your brand. With my support, you can elevate your photo shoot to new heights, creating stunning visuals that captivate your audience.</p>
				</div>
				<Image class="im"
				
					alt="photo shoot"
					width="360"
					height="360"
					src="/assets/services/dress flowers.jpg"
					/>

			</div>

			<div id="Teens_Kids" class="flex w-full gap-4 section md:min-h-dvh">
				<Image class="im"
				
					alt="teens & kids"
					width="360"
					height="360"
					src="/assets/services/flower girls 3.jpeg"
					/>
				<div class="grid h-20 flex-grow desc">
				<h3>Teens & Kids</h3>
				<p>I specialize in finding stylish and age-appropriate clothing for kids, teens, and the entire family. As a mom myself, I understand the unique needs and preferences of younger shoppers, from trendy outfits for teens to comfortable and durable clothes for kids. My fashion experience, combined with my passion for working with children, allows me to create personalized shopping experiences that ensure everyone feels confident and looks great. Together, we’ll explore options that suit each family member's personality and lifestyle. Whether you need back-to-school essentials, seasonal wardrobe updates, or special occasion attire, I’ll handle the shopping, saving you time and effort while providing a fun and enjoyable experience for your family. Let’s create wardrobes that everyone will love!</p>
				</div>

			</div>

			<div id="Gifts" class="flex w-full gap-4 section md:min-h-dvh">
				<div class="grid h-20 flex-grow desc">
				<h3>Gift & Holiday Shopping </h3>
				<p>With everyone’s hectic schedules, finding the perfect gift for that special someone can be challenging, especially. Whether you’re a busy mom or a fast-paced executive, I’m here to make the process seamless and enjoyable. I can help you select thoughtful gifts that reflect the recipient’s personality and interests, ensuring your gift stands out.
					<br>
					Worried about the holidays? I can help with this too! I’ll take care of everything from choosing items to wrapping and delivery, so you can focus on what matters most. Let me take the stress out of gift-giving, allowing you to enjoy the holidays and make lasting memories with your loved ones!</p>
				</div>
				<Image class="im"
				
					alt="gifts"
					width="360"
					height="360"
					src="/assets/services/gifts.jpeg"
					/>

			</div>

			<div id="A_La_Carte" class="flex w-full gap-4 section md:min-h-dvh">
				<Image class="im"
				
					alt="A La Carte"
					width="360"
					height="360"
					src="/assets/services/pink sweater.jpg"
					/>
				<div class="grid h-20 flex-grow desc">
				<h3>A La Carte</h3>
				<p>Can’t find what you are looking for under my list of services? 
					Contact me and I’m happy to tailor an experience based on your needs. 
					I charge by the hour, I’ll let you know my rate when you reach out.
				</p>
				</div>

			</div>


			
		</main>
		<ContactCTA />
	</div>
</BaseLayout>


<style>

	.section {
		/* display: block; */
		font-size: var(--text-lg);
		display: flex;
		margin: 1rem;
		padding: 1rem;
		border-bottom: 2px solid var(--gray-600);
	}

	.desc {
		height: auto;
		margin-top: 2rem;
		padding-right: 4rem;
		padding-left: 4rem;
	}

	.im {
		
		aspect-ratio: 2 / 3;
		object-fit: cover;
		box-shadow: var(--shadow-md);
	}

	@media (max-width: 50em) {
		
		.section {
			font-size: var(--text-base);
			margin: 1rem;
		}

		.im {
		
			aspect-ratio: 1 / 3;
			width: 40%;
			object-fit: cover;
			box-shadow: var(--shadow-md);
		}
	}
	

</style>