---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';

import Grid from '../components/Grid.astro';
import { Image } from 'astro:assets';

const gallery1: { alt: string; src: string }[] = [
	{ alt: 'grid1', src: "/assets/testimonials/coat 2.jpg" },
	{ alt: 'grid2', src: "/assets/testimonials/Dad smiling.jpeg" },
	{ alt: 'grid4', src: "/assets/testimonials/paseo.jpg" },
	{ alt: 'grid9', src: "/assets/testimonials/thalia dress.jpg" },
];
const gallery2: { alt: string; src: string }[] = [
	{ alt: 'grid5', src: "/assets/testimonials/rack 6.jpg" },
	{ alt: 'grid6', src: "/assets/testimonials/Style_Typology_7-19-19-52.jpg" },
	{ alt: 'grid7', src: "/assets/testimonials/Style_Typology_8-23-19-144.jpg" },
	{ alt: 'grid8', src: "/assets/testimonials/Style_Typology_Fall_2020-79.jpg" },
	{ alt: 'grid3', src: "/assets/testimonials/man suit pocket .jpg" },
];
---

<BaseLayout title="Testamonials | Daphne Styles" description="What people are saying about Daphne Styles">
	<div class="stack gap-20">
		<main class="">

		<div class="min-w-screen min-h-60 flex items-center justify-center py-5">
			<div class="w-full px-5 py-8 md:py-10 text-zinc-800">
				<div class="w-full max-w-7xl mx-auto">
					<div class="text-center max-w-xl mx-auto">
						<h1 class="text-5xl md:text-6xl font-bold mb-5 text-zinc-600">What people <br>are saying</h1>
						<h3 class="text-base mb-5 font-light mx-4">To keep my clients information private I do not share their last names on my website. If you would like a referral please let me know and I can reach out to them on a as needed basis. A special thank you to all the clients who shared their experience and have referred colleagues or friends.</h3>
						<div class="text-center mb-10">
							<span class="inline-block w-1 h-1 rounded-full bg-zinc-500 ml-1"></span>
							<span class="inline-block w-3 h-1 rounded-full bg-zinc-500 ml-1"></span>
							<span class="inline-block w-40 h-1 rounded-full bg-zinc-500"></span>
							<span class="inline-block w-3 h-1 rounded-full bg-zinc-500 ml-1"></span>
							<span class="inline-block w-1 h-1 rounded-full bg-zinc-500 ml-1"></span>
						</div>
					</div>
					<div class="-mx-3 md:flex items-start">
						<div class="px-3 md:w-1/3">
							<div class="w-full mx-auto rounded-lg bg-zinc-200 drop-shadow-xl p-5 text-zinc-800 font-light mb-6">
								<div class="w-full flex mb-4 items-center">
									<div class="flex-grow pl-3">
										<h6 class="font-bold text-base uppercase text-zinc-600">Caroline</h6>
									</div>
								</div>
								<div class="w-full">
									<p class="text-base leading-tight"><span class="text-base leading-none italic font-bold text-zinc-400 mr-1">"</span>Having Daphne over to review my closet was awesome! She is incredibly smart, kind, and creative. She took the time to understand what I was going for and provided recommendations that were practical and attainable, primarily leveraging my existing pieces while suggesting some items that I could benefit from. I donated a lot which opened up my closet so I could organize more efficiently and could then actually see all the great pieces I already had. We picked out several items /looks for an upcoming trip - and when it was time to pack everything went so smoothly and stress free. My trip ended up being fantastic, I was really happy with everything we picked out. <span class="text-base leading-none italic font-bold text-zinc-400 ml-1">"</span></p>
								</div>
							</div>
							<div class="w-full mx-auto rounded-lg bg-zinc-200 drop-shadow-xl p-5 text-zinc-800 font-light mb-6">
								<div class="w-full flex mb-4 items-center">
									<div class="flex-grow pl-3">
										<h6 class="font-bold text-base uppercase text-zinc-600">Shann</h6>
									</div>
								</div>
								<div class="w-full">
									<p class="text-base leading-tight"><span class="text-base leading-none italic font-bold text-zinc-400 mr-1">"</span>Daphne really helped me update my wardrobe and find flattering articles of clothing. We did a few trips to Neiman Marcus and it was fun! I found pieces that last and refreshed my look. Definitely worth it. <span class="text-base leading-none italic font-bold text-zinc-400 ml-1">"</span></p>
								</div>
							</div>
						</div>
						<div class="px-3 md:w-1/3">
							<div class="w-full mx-auto rounded-lg bg-zinc-200 drop-shadow-xl p-5 text-zinc-800 font-light mb-6">
								<div class="w-full flex mb-4 items-center">
									<div class="flex-grow pl-3">
										<h6 class="font-bold text-base uppercase text-zinc-600">Sheri </h6>
									</div>
								</div>
								<div class="w-full">
									<p class="text-base leading-tight"><span class="text-base leading-none italic font-bold text-zinc-400 mr-1">"</span>After becoming a new mom and being new to the area I was in need of a stylist and wardrobe update. I felt that she took the time to get to know me and understand my needs. Shopping was overwhelming for me and Daphne was able to make it an enjoyable experience. After a few trips to Nordstroms and Neiman Marcus she created outfits with my new and existing clothes. Having pictures of all the new looks was very helpful! She did all this for my husband as well. Definitely recommend. <span class="text-base leading-none italic font-bold text-zinc-400 ml-1">"</span></p>
								</div>
							</div>
							<!-- <div class="w-full mx-auto rounded-lg bg-zinc-200 drop-shadow-xl p-5 text-zinc-800 font-light mb-6">
								<div class="w-full flex mb-4 items-center">
									<div class="flex-grow pl-3">
										<h6 class="font-bold text-base uppercase text-zinc-600">Erin </h6>
									</div>
								</div>
								<div class="w-full">
									<p class="text-base leading-tight"><span class="text-base leading-none italic font-bold text-zinc-400 mr-1">"</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto inventore voluptatum nostrum atque, corrupti, vitae esse id accusamus dignissimos neque reprehenderit natus, hic sequi itaque dicta nisi voluptatem! Culpa, iusto.<span class="text-base leading-none italic font-bold text-zinc-400 ml-1">"</span></p>
								</div>
							</div> -->
							<div class="w-full mx-auto rounded-lg bg-zinc-200 drop-shadow-xl p-5 text-zinc-800 font-light mb-6">
								<div class="w-full flex mb-4 items-center">
									<div class="flex-grow pl-3">
										<h6 class="font-bold text-base uppercase text-zinc-600">Regan</h6>
									</div>
								</div>
								<div class="w-full">
									<p class="text-base leading-tight"><span class="text-base leading-none italic font-bold text-zinc-400 mr-1">"</span>Being a busy Mom I had neglected my wardrobe for a few years… I had Daphne come in and we sorted through my entire closet! I got rid of a lot - both donating and selling online which felt great. There were items that I wanted to wear but had trouble putting together in an outfit so they had been sitting there in my closet unworn for a long time, some with tags still on them - we spent extra time with those pieces and created outfits that worked. She recommended what I needed to buy to help fill in all the ‘gaps’ and pull it all together. I hate the idea of spending so much time sorting through all the retail sites online so I had Daphne find all the missing pieces. She was not pushy and kind which I appreciated. <span class="text-base leading-none italic font-bold text-zinc-400 ml-1">"</span></p>
								</div>
							</div>
						</div>
						<div class="px-3 md:w-1/3">
							
							<div class="w-full mx-auto rounded-lg bg-zinc-200 drop-shadow-xl p-5 text-zinc-800 font-light mb-6">
								<div class="w-full flex mb-4 items-center">
									<div class="flex-grow pl-3">
										<h6 class="font-bold text-base uppercase text-zinc-600">Brian </h6>
									</div>
								</div>
								<div class="w-full">
									<p class="text-base leading-tight"><span class="text-base leading-none italic font-bold text-zinc-400 mr-1">"</span>I can't thank Daphne enough for the incredible experience I had working with her. My closet was a mess, and I was stuck in a style rut. Daphne not only organized my wardrobe, but she also helped me understand what pieces I truly needed and what I could do without. It was like a weight was lifted off my shoulders—my closet is now functional, organized, and filled with clothes I actually love to wear.
									<br>
									We then headed to Bloomingdale’s, where she expertly guided me through finding key items that fit my lifestyle and personal style. Daphne knows fashion inside and out and has an amazing eye for what works—she picked out pieces I would never have considered but ended up loving. She made shopping feel effortless, and I felt more confident than ever in my choices.
									<br>
									The best part is that Daphne’s approach is so personalized and non-judgmental. She really listened to what I wanted and helped me elevate my style without pushing me out of my comfort zone. I now feel more put-together and excited about getting dressed every day. Highly recommend her to anyone looking to refresh their wardrobe and simplify their style!<span class="text-base leading-none italic font-bold text-zinc-400 ml-1">"</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="gallery">
			<Grid variant="small">
				{
					gallery1.map(({ alt, src }) => (

								<Image class="imageSpread"
									alt={alt}
									width="200"
									height="300"
									src={src}
								/>
							))
					}
			</Grid>
			<Grid variant="small">
				{
					gallery2.map(({ alt, src }) => (

								<Image class="imageSpread"
									alt={alt}
									width="200"
									height="300"
									src={src}
								/>
							))
					}
			</Grid>

		</div>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	/* @import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css') */
	.imageSpread {
		aspect-ratio: 3 / 3;
		object-fit: cover;
		/* border-radius: 1.5rem; */
		box-shadow: var(--shadow-md);
		/* left: 100%; */

		/* animation: 2s scrolling infinite linear;  */
		/* animation-delay: calc((10s/var(--quantity)) * var(--position) - 1); */
	}
</style>
