---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---

<aside class="bg-gradient-to-l from-zinc-400 to-zinc-300">
	<h1>Contact me for a free 20 minute consult!</h1>
	<h2>Voice and Text:<p>(415) 218-0457</p></h2>
	<h2>Email: <p>hookerdaphne@gmail.com</p></h2>
	<div/>
	<CallToAction href="mailto:hookerdaphne@gmail.com">
		Send Me a Message
		<Icon icon="paper-plane-tilt" size="1.2em" />
	</CallToAction>
	
	<h3 class="italic font-semibold text-stone-950">SPECIAL: <p>First time clients who book 3+ hours get 1 hour free of online shopping.</p></h3>
</aside>

<style>
	aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		border-top: 1px solid var(--gray-800);
		border-bottom: 1px solid var(--gray-800);
		padding: 5rem 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	h1 {
		font-size: var(--text-xl);
		text-align: center;
		max-width: 30ch;
	}

	h2 {
		font-size: var(--text-md);
		text-align: center;
		max-width: 25ch;
	}

	h3 {
		font-size: var(--text-xl);
		text-align: center;
		max-width: 35ch;
	}

	@media (min-width: 50em) {
		aside {
			padding: 3rem;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		h1 {
			font-size: var(--text-xl);
			text-align: left;
			max-width: 15ch;
		}
		
		h2 {
			font-size: var(--text-lg);
			text-align: left;
		}

		
		h3 {
			font-size: var(--text-2xl);
			text-align: left;
			max-width: 225ch;
		}

		p {
			
		}
	}
</style>
