---
interface Props {
	title: string;
	tagline?: string;
	align?: 'start' | 'center';
}

const { align = 'center', tagline, title } = Astro.props;
---

<div class:list={['hero stack gap-4', align]}>
	<div class="stack gap-2 box">
		<h1 class="title text-zinc-800">{title}</h1>
		<p>
			Are you looking for a seasonal update, closet clean out, personal shopping, to fine tune your style or just about anything fashion? 
			You have come to the right place! 
			<br><br>
			With my experience, expertise and ability to connect on a personal level I am committed to helping you feel comfortable embracing your own style. 
			I cater to all shapes, sizes, ages, price points and pronouns. 
			<br><br>
			Please review my list of services and if you can’t find what you are looking for there contact me and we can customize a package for you. 
			Having trouble getting your online dating profile & pictures just right? I can help with that too!
		</p>
	</div>
	<slot />
</div>

<style>
	.hero {
		font-size: var(--text-md);
		text-align: center;
	}

	.box {
		/* border: 2px solid #3f3f46; */
		/* border-radius: 0.75rem; */
		padding: 1.5rem;
		/* background-color: #72727c3d; */
		/* box-shadow: var(--shadow-sm); */
		
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}
	

	.title {
		font-size: var(--text-2xl);
		/* color: var(--gray-0); */
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-lg);
		}

		p {
			/* padding-left: 2rem; */
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-2xl);
		}
	}
</style>
