---
interface Props {
	title: string;
	tagline?: string;
	align?: 'start' | 'center';
}

const { align = 'center', tagline, title } = Astro.props;
---

<div class:list={['hero stack gap-4', align]}>
	<div class="stack gap-2 box">
		<h1 class="title text-zinc-800">{title}</h1>
		<p>
			Whether you’re looking for a seasonal update, a closet cleanout, personal shopping, 
			fine-tuning your style, or just about anything fashion related, you’ve come to the right place! 
			<br><br>
			With my experience, expertise, and personal approach, I’m committed to helping you 
			feel confident in embracing your unique style. I work with all shapes, sizes, ages, budgets and pronouns.
			<br><br>
			Please review my list of services, and if you don’t see what you need, contact me and we can customize a package for you. 
			Having trouble getting your online dating profile and pictures just right? I can help with that too!
		</p>
	</div>
	<slot />
</div>

<style>
	.hero {
		font-size: var(--text-md);
		text-align: center;
	}

	.box {
		/* border: 2px solid #3f3f46; */
		/* border-radius: 0.75rem; */
		padding: 1.5rem;
		/* background-color: #72727c3d; */
		/* box-shadow: var(--shadow-sm); */
		
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}
	

	.title {
		font-size: var(--text-2xl);
		/* color: var(--gray-0); */
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-lg);
		}

		p {
			/* padding-left: 2rem; */
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-2xl);
		}
	}
</style>
