---
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';

import '@fontsource/belleza';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const {
	title = 'Daphne Styles | Stylist | Personal Shopper',
	description = 'Welcome to Daphne Styles - Stylist and Personal Shopper that will perfect your personal image.',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

 <!-- Transitions break with dark mode but look cool -->
<ViewTransitions />


<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&family=Rubik:wght@500;600&display=swap"
	rel="stylesheet"
/>
<link 
	href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap" 
	rel="stylesheet"
/>
